/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: @black;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Color Variables */

@black: #000;
@white: #fff;
@red: #C4302C;
@orange: #FF5500;
@blueFacebook: #3B5A99;
@blueLightTwitter: #009FD1;
@lightOrange:#F4753D;
@gray:#968E8E;
@darkGray:#3A3333;
@lightGray:#D2CFCF;

/* Fonts Variables */
@font-content:'eurostileregular';
@font-Titles:'nakamuraregular';

/* ==========================================================================
   RESERVACIONES
========================================================================== */
#divContentReservations{
    padding: 40px;
    width: 960px;
    background-color: rgba(2, 2, 2, 0.29);
    margin: 20px auto;
    position: relative;

    h1{
        color:white;
        text-align: center;
        margin-top: 5px;
        font-family: @font-Titles;
        font-size: 31px;
    }
}

#dailyResevations{
    display: none;
    width: 100%;
    margin: 0 auto;
    color: @white;
    // padding: 0;
    float: left;

    #timeAndTeamInfo{
        display: block;
        padding: 0;


        li{
            float: left;
            list-style: none;
            font-family: @font-content;
            font-size: 20px;
            &:nth-child(1){
                width: 100px;
                 }
            &:nth-child(2), &:nth-child(3){
                width: 387px;
                text-align: center;
            }
        }
    }
    #reservations{
        list-style-type: none;
        padding: 0;
        margin-left: 15px;

        li.row > span{
            display: block;
            float: left;
            width: 387px;
            height: 37px;
            text-align: center;
            &.blocked{
                background-color: @red;
                border:solid 1px @darkGray;
                margin:2px;
                line-height: 30px;
            }
            &.reservation-time{
                border: none;
                width: 100px;
                color:@white ;
                font-family: @font-content;
                text-align: left;
                line-height: 40px;
                // margin-left: 10px;
            }
            &.completa{
                width: 777px;
                color: @white;
                border:1px solid @darkGray;
                line-height: 30px;
            }
            &.available{
                cursor: pointer;
                background-color: @lightOrange;
                border:solid 1px @darkGray;
                margin:2px;
            }
        }
    }
    .active{
        font-weight: bold;
    }
}
#pitchs{
    float: right;
    a{
    background-color: @red;
    font-family: @font-content;
    font-size: 17px;
    text-align: center;
    line-height: 20px;
    padding: 5px 25px;
    text-decoration: none; 
}
    a:hover{
        background-color: @gray;
    }
}
#mainWrapper{
    width: 100%;
    background: url('../img/main-background.jpg') top center no-repeat;
    margin: 0 auto;
    position: relative;
}
.next, .prev{
    color: @orange;
}
#calendar table{
    margin-top: 15px;
    font-size: 18px;
}

/* ==========================================================================
   MODAL
========================================================================== */
.modal-header{
        background-color: @darkGray;

        button{
        
        span{
            color: @red;
        }

          }
        h4{
            font-family: @font-content;
            color: @white;
            font-size: 20px;
        }

}
.modal-body{
    h3{
        font-weight: bold;
    }
    font-family: @font-content;
    ol{
        font-size: 17px;
       font-weight: normal;
       dt{
        font-weight: normal;

       }
    
    }
}
#bookingOnLine{
    h3{
        text-align: center;
        font-size: 20px;
        margin: 0;
        color: @red;
        font-weight: normal;
    }
    h4{
        font-size: 20px;
        margin: 0;
    }
}
.modal-footer{
    background-color: @darkGray;
    button{
        background-color: @red;
        color: @white;
    }
}

/* ==========================================================================
   HEADER
   ========================================================================== */

#divWrapperHeader{
    width: 100%;
    height: 118px;
    background-color: rgba(19, 18, 18, 0.76);
    margin-top: 20px;
}

#divContentHeader{
    width: 960px;
    margin: 0 auto;

    span{
        text-decoration: none;
        color: @white;
        float: left;
        position: absolute;
        margin: -6px 0 0 70px;
        text-transform: capitalize;
        font-size: 16px;
        font-family: @font-content;
    }
}
#navPrincipal {
    display: block;
    float: right;
    padding: 0;
    margin: 0;
}

#navPrincipal li{ 
    width:185px;
    height: 118px;
    list-style: none;
    float: left;
    text-align: center;
    font-family: @font-content;
    font-size: 22px;
    line-height: 118px;

    a{
        text-decoration: none;
        color: white;
        display: block;

        &:hover{
            background-color: @red;
        }

        &.active{
            background-color:@red;
        }
    }
    &.active{
       background-color: @red; 
    }
}

#logo{
    float: left;
    margin: 11px 0 0 14px;
    a{
        display: block;
    }

}

#userStatus{
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 960px;
    text-align: right;
    top: 0;

    a{
        color: @white;

        &:hover{
            color: @red;
        }
    }
}

#pitchs{
    display: none;
    ul{
        list-style-type: none;

        li{
            float: left;
            margin-left: 10px;
            a{
                color: @white;
                display: block;
            }
        }
    }
}

/* ==========================================================================
   HOME CONTENT
   ========================================================================== */
#divContent{
    width: 960px;
    padding: 40px;
    background-color:rgba(2, 2, 2, 0.29); 
    margin:25px auto;
    //min-height: 930px;

    h1,h2{
        color:white;
        text-align: center;
        margin: 5px;
        font-family: @font-Titles;
        font-size: 31px;
    }

    h2{
        color: @red;
        font-size: 22px;
        margin: 34px 0 56px;
    }

    p{
        color:white;
        font-family: @font-content;
        font-size: 24px;
        margin-top: 42px; 
        line-height: 24px; 
    }
}

#divContentButtons{
    margin-bottom: 20px;
}

#divButton1, #divButton2{
    width: 288px;
    height: 146px;
    border-radius: 10px;
    background-color: @lightGray;

    a{
       display: block;
       margin: 0 auto; 
    }
    img{
        display: block;
       margin: 20px auto; 
    }

    &:hover{
        background-color: @white;
    }
}

#divButton1{
    float: left; 
}

#divButton2{
    float: right;  
}

/* ==========================================================================
   CALENDAR
========================================================================== */

.days_head, .days_row{
    display: none;
    background: #000;
}

#calendar {
    display: block;
    font-family: @font-content;
    color: @white;
    position: absolute;
    
    .day{
        cursor: pointer;
        &:hover{
            background:@gray;
        }
        .active{
            background: @red;
        }
    }
}

/* ==========================================================================
   LOGIN
========================================================================== */
#divContent #loginTitle{
    font-family: @font-content;
}
#contentLogin
{
    width: 450px;
    margin: 20px auto;
        p{
        color:@orange;
        font-size: 17px;
        font-family: @font-content;
    }
    #btnLogin
{
    
    margin-top: 10px;
}
}
#divContent label{
    font-family: @font-content;
    color:@white;
    font-size: 20px;
    font-weight: normal;

}
#userStatus span{
    color:@orange;
}
/* ==========================================================================
   GALLERY
========================================================================== */
#divMainContentGallery{
    width: 960px;
    padding: 40px;
    background-color: rgba(2, 2, 2, 0.29);
    margin: 20px auto;
    
    h1{
        text-align: center;
        margin-top: 5px;
        font-family: @font-Titles;
        color: @white;
        font-size: 31px;
    }
    #slider{
        width:750px;
        height: 521px;
        margin: 0 auto;
        border: 5px solid #282626;
    }
    .slides {
        img{
            width: 750px;
            height: 513px;
        }
    }
}

#carousel{
    width: 750px;
    height: 110px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border:none;
    .slides {
        img{
            width: 140px;
            height: 110px;
        }
    }
}
/* ==========================================================================
   FOOTER 
   ========================================================================== */
#divWrapperFooter{
    width: 100%;
    height: 210px;
    background: url(../img/footer-background.jpg) center center repeat;
}

#divContentFooter{
    width: 960px;
    margin: 0 auto;
    padding: 20px 40px;
}
#divSocialsIcons{
    width: 210px;
    margin: 10px auto;
}

/*************ICONS FOOTER******************/
#divSocialsIcons{
    a.fa-facebook, a.fa-twitter, a.fa-youtube{
        height: 50px;
        width: 50px;
        border-radius: 100px;
        float: left;
        margin:20px 10px;
        text-decoration: none;
        display: block;
        font-size: 35px;
        color: @white;
        text-align: center;
        line-height: 50px;

        &:hover{
            text-decoration: none;
        }
    }
}

a.fa-facebook{
    background-color: @blueFacebook;

    &:hover{
        background-color: @gray;
    }
}

a.fa-twitter{
    background-color: @blueLightTwitter;

    &:hover{
        background-color: @gray;
    }
}

a.fa-youtube{
    background-color: @red;

    &:hover{
        background-color: @gray;
    }
}

#copy-right{
    color: @white;
    float: left;
    font-family: @font-content;
    font-size: 18px; 
    margin: 0;
}
/* ==========================================================================
  INTERNAL FOOTER
   ========================================================================== */
#divContentInfoFooter{
    width: 242px;
    margin: 0;
    float: left;
    p{
        color: @white;
        font-family: @font-content;
        font-size: 18px;
        line-height: 18px;
    }
}

#contentSocialIcons{
    width: 200px;
    margin-left: 95px;
    float: left;

    #socialIcons{
        width: 200px;
        margin-left: -11px;
    }
    a.fa-facebook, a.fa-twitter, a.fa-youtube{
        height: 40px;
        width: 40px;
        border-radius: 100px;
        float: left;
        margin:13px 9px;
        text-decoration: none;
        display: block;
        font-size: 25px;
        color: @white;
        text-align: center;
        line-height: 40px;

        &:hover{
            text-decoration: none;
        }
    }  
}

#infoContact{
    float: right;
    width: 280px;
    margin: 0;

    ul{
        padding: 0; 
        margin-top: 5px;

        li{
            a{
                list-style: none;
                color: @white;
                font-family: @font-content;
                font-size: 18px;
                padding: 0;
                text-decoration: none;
            }
            
            span{
                font-size: 20px;
                color: @orange;
                padding: 7px 3px 0 0;
                margin:0 10px;
            }
        }
    }
}

#divContentInfoFooter span, #contentSocialIcons span, #infoContact > span{
    color: @white;
    font-family: @font-content;
    font-size: 22px;
    line-height: 17px;
    text-transform: capitalize;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: @black !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
